<header class="header">
  <div class="logo">AegisDRIVE</div>

  <div class="header-right">
    <span class="status online">MQTT ●</span>
    <span class="status online">DB ●</span>
    <span class="user">Fleet Admin</span>
  </div>
</header>
